.banner-container {
  width: 70%;
  height: 390px;
  margin: 25px auto;
  position: relative;
  overflow: hidden;
  background-color: magenta;
}

.banner-images {
  width: 300%;
  height: 100%;
  display: flex;
  transition: all 0.3s ease;
}

.banner-image {
  width: 33.33%;
  height: 100%;
  object-fit: cover;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  z-index: 1;
}

.arrow:hover {
  color: rgba(255, 255, 255, 0.5);
}

.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
}

.container-video {
display: flex;
align-items: center;
}

.video {
width: 390px;
height: 390px;
position: relative;
}

.video video {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover; /* ajuste del video al tamaño del contenedor */
}

  .texto-video {
  flex: 1;
  font-weight: 500;
  font-size: 16.50px;
  font-style: oblique;
  color: white;
  font-family: sans-serif;
  margin-left: 20px;
  margin-top: 5px;
  margin-right: 20px;
}